div#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  display: center;
}

img {
  width: 100%
}

.navbar {
  display: flex; /* Make the navbar horizontal */
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
  justify-content: space-between;
}

.card {
  padding: 1em;
}

.div {
  display: center;
}

.gallery {
  padding: 3em;
  display: center;
}
